<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
</head>
<body>
    <h1>Categories</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Slug</th>
        </tr>
        {% for category in categ_list %}
        <tr>
            <td>
                <p>{{ category.id }}</p>
            </td>
            <td>
                <input type="text" name="name_{{ category.id }}" value="{{ category.name }}">
            </td>
            <td>
                <input type="text" name="slug_{{ category.id }}" value="{{ category.slug }}">
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
