{% extends "main/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "deps/css/my_footer_css.css" %}">
{% endblock  %}

{% block  content %}
    <div class="mt-5 p-5 bg-light custom-shadow ">
        <h2 class="pt-5"><strong>{{ context }}</strong></h2>
        <p class="m-2">{{ text_on_page }}</p>
    </div>
{% endblock  %}

{% block footer %}
    <footer class="py-4 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">
				{{ footer_text }}
			</p>
        </div>
    </footer>
{% endblock  %}

